# use glob syntax.
syntax: glob
*.class
*~
*.bak
*.off
*.old

# Eclipse
.classpath
.project
.settings

com.ur.urcap.sample.getRobotData/.settings/
com.ur.urcap.sample.getRobotData/target/classes/
com.ur.urcap.sample.getRobotData/target/test-classes/
com.ur.urcap.sample.getRobotData/target/generated-sources/
com.ur.urcap.sample.getRobotData/target/generated-test-sources/
com.ur.urcap.sample.getRobotData/target/maven-status/
com.ur.urcap.sample.getRobotData/target/surefire-reports/
